



#imagen{
    height: 800px;
    position: fixed;
    width: 1850px;
    margin: -20px;
    padding-top: 155px;
}
#logo{
    position: fixed;
    width: 150px
}
a{
    position: fixed;
}
#Venta{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin-left: 130px; 
    font-size: 25px;
    margin-top: 60px;
}
#Alquiler{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin-left: 250px; 
    font-size: 25px;
    margin-top: 60px;
}
#Alojamiento{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin-left: 380px; 
    font-size: 25px;
    margin-top: 60px;
}
#Contacto{font-family: Arial, Helvetica, sans-serif;
    color: beige;
    margin-left: 550px; 
    font-size: 25px;
    margin-top: 60px;}
    div{
        height: 250px;
        width: 1850px;
        background-color: black;
        margin: -20px;
    }

video{

    position: fixed;
    margin-top: 100px;
    margin-left: 500px
}
p{
    color:white;
    position: fixed;
    margin-left: 1200px;
}

#texto2{
    font-size: 20px;
    padding-top: 20px;
    position: fixed;
    margin-left: 1370px ;
}
#texto1{
    margin-top: 30px;
    font-size: 20px;
}

